<body>
    <div class="card">  
    <header>
      <img src="https://cv6.litres.ru/pub/c/cover_max1500/39507162.jpg" class="foto" style="width:50%"></header>
         <h1>451F</h1>
    </div>
    <div class="details">
        <h1>Project's Authors:</h1>
        <h1>Meshitbai Tomeris</h1>
        <h1>Pashkevich Ruslan</h1>
        <h1>Sain Nargiz</h1>
        
    </div>
    <div class="details2">
        <h1>Description:</h1>
        <h1>comfortable online book store for everyone</h1>
        <h1>comfortable online book store for everyone</h1>
        <h1>comfortable online book store for everyone</h1>
    </div>
</body>