
    <body>
      <div class="card">
        <div class="circle" style="--clr:#fd7015;">
          <img src="https://cv6.litres.ru/pub/c/cover_max1500/39507162.jpg" class="logo">
        </div>
        <div class="content">
          <h2>Fahrenheit 451</h2>
          <p>Fahrenheit 451 is a 1953 dystopian novel by American writer Ray Bradbury.Fahrenheit 451 presents an American society where books have been personified and outlawed and "firemen" burn any that are found.The novel follows Guy Montag, a fireman who becomes disillusioned with his role of censoring literature and destroying knowledge, eventually quitting his job and committing himself to the preservation of literary and cultural writings.
          </p>
          <a href="#">Add to cart</a>
        </div>
        <img src="https://cv6.litres.ru/pub/c/cover_max1500/39507162.jpg" class="product_img">
      </div>
    </body>
