/* You can add global styles to this file, and also import other style files */

  
  body {
    margin: 0;
    /* background: linear-gradient(to bottom, #3e0a0a, #891515, #b80101); */
  }

  
  /* Text */
  
  /* h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
   */
  
  
  /* Top Bar */
  
  app-top-bar {
    width: 100%;
    height: 100px;
    background-color: #350c0c;
    padding: 3px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
  }
  
  app-top-bar h1 {
    color: rgb(234, 222, 222);
    margin: 0;
  }
  
  